.incident-list-container {
  background-color: var(--bg-dark);

  .incident-card {
    display: flex;
    padding: 0.9375rem; 
    border-bottom: 1px solid var(--border-color);
    color: var(--text-secondary);
    background-color: var(--bg-dark);
    transition: background-color 0.2s;
    font-size: var(--font-size-std);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--bg-row-hover);
    }

    .card-icon {
      flex: 0 0 2.5rem; 
      padding-top: 0.3125rem; 
    }

    .card-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem; 

      .card-date {
        font-weight: 600; 
        color: var(--text-primary); 
      }

      .card-location {
        font-weight: 400; 
        color: var(--text-secondary);
      }

      .card-title {
        font-weight: 600;
        color: var(--text-primary); 
      }

      .card-priority {
        font-weight: 400; 
        color: var(--text-secondary); 
        font-style: normal; 
      }
    }
  }
}